# Environment variables
backend/app.env

# Dependencies
node_modules/
dist/
.env

# Go binaries
backend/api
backend/worker
backend/migrate

# OS files
.DS_Store
Thumbs.db

# Docker data
postgres_data/

# Frontend specific
frontend/.git/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.react-router/
